In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame(columns = ['Name','Age','Height'])
df

Empty DataFrame
Columns: [Name, Age, Height]
Index: []

In [4]:
df.loc[0] = ['dasd','21','85']

In [5]:
df

   Name Age Height
0  dasd  21     85

In [6]:
df.loc[1]=['fuck','69','96']

In [13]:
l = ['52','45']
df['weight'] = l

In [14]:
df

   Name Age Height weight
0  dasd  21     85     52
1  fuck  69     96     45

In [16]:
df.drop(['weight'],axis=1)

   Name Age Height
0  dasd  21     85
1  fuck  69     96

In [17]:
df

   Name Age Height weight
0  dasd  21     85     52
1  fuck  69     96     45

In [18]:
df = df.drop(['weight'],axis=1)

In [19]:
df

   Name Age Height
0  dasd  21     85
1  fuck  69     96

In [21]:
df.drop(0)

   Name Age Height
1  fuck  69     96

In [22]:
df['Age'][1] = '23'

In [23]:
columns = ['Name','Age','Height']
data = [['asdad','12','145'],['hgdfs','54','200']]

df1 = pd.DataFrame(data = data,columns = columns)

In [24]:
df1

    Name Age Height
0  asdad  12    145
1  hgdfs  54    200

In [31]:
import os
os.listdir('./AV.csv')

FileNotFoundError: [WinError 3] 系統找不到指定的路徑。: './AV.csv'

In [34]:
def test(s):
    result = s.split(':')[1]
    return result